/* Sardor */

/* Sardor */


/* Islom */
.section-flex11 {
    width: 1440px;
    height: 1028px;
    top: 1178px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 93px;
}
.section-flex77 {
    width: 1440px;
    height: 599px;
    top: 1906px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 93px;
}
.text h1 {
    color: rgba(15, 15, 15, 1);
    font-size: 38px;
    width: 500px;
height: 92px;
}
.text p {
    color: rgba(15, 15, 15, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 493px;
    height: 135px;
}
/* Islom */


/* Inomjon */
.section2 {
  margin: 0;
  font-family: sans-serif;
  background-color: #1d4a7a; /* fon rangi rasmga mos */
}

.testimonial {
  text-align: center;
  color: white;
  max-width: 700px;
  margin: 100px auto;
  padding: 20px;
}

.quote-icon {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 30px;
}

.highlight {
  color: #ea868f;
}

.photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 14px;
}

/* Inomjon */


/* Sunnatilla */

/* Sunnatilla */


/* Oybek */
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.section_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_box h2{
    font-size: 38px;
    font-weight: 700;
}
.cardes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.cards1{
    gap: 30px;
}
.card_one{
    margin-top: 32px;
    background: #EDEDED;
    width: 355px;
    border-radius: 10px;
    padding: 32px;
}
.star{
    color: #E48D8B;
}
.card_pi{
    margin-top: 26px;
    width: 283px;
}
.card_one p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.coment{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.coment img{
    width: 48px;
    height: 48px;
}
/* Oybek */